<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人密码修改</title>
    <script src="/vue.js"></script>
    <script src="/jquery-2.1.3.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>
<body>
<div id="app">
    <div style="text-align: center;">
        <h1>个人密码修改</h1>
    </div>

    <!--表单统计-->
    <el-form ref="form" :model="KaoShiInfo" label-width="100px">
        <el-form-item label="输入密码">
            <el-input v-model="KaoShiInfo.password"></el-input>
        </el-form-item>




        <el-form-item label="请再次输入">
            <el-input v-model="KaoShiInfo.surePassword"></el-input>
        </el-form-item>


        <el-row>
            <div style="text-align: center;">
                <el-button
                        type="success"
                        icon="el-icon-check"
                        @click="updatePwd">
                    确认修改
                </el-button>
            </div>
        </el-row>
    </el-form>

</div>
</body>
<script>
    var app = new Vue({
        el:"#app",
        data:{
            KaoShiInfo:{
                password:"",
                surePassword:""
            }
        },
        methods:{
            updatePwd () {
                if(app.KaoShiInfo.password != "" && app.KaoShiInfo.surePassword != ""){
                    if (app.KaoShiInfo.password == app.KaoShiInfo.surePassword){

                        $.post("student/updatePwd",{password:app.KaoShiInfo.password},function (back) {
                            alert(back.message);
                            window.open("login.html","_blank");
                        });
                    }
                    else {
                        alert("两次密码不一致");
                    }
                }else {
                    alert("请不要输入空值");
                }

            }
        }
    });
</script>
</html>